<% include ./header.ejs %>

  <p class="text-[18px] text-center py-3 pt-1 font-[400]">Here's how it works?  <span><i class="-ml-1 mt-2 inline text-[30px] font-[600] ri-arrow-drop-down-line"></i></span>  </p>
<section class="w-full md:flex block min-h-[120vh] justify-between items-start px-5">
  <div class="text-white LeftImgContainer w-full  md:w-1/2 text-center  h-[100vh] px-7 overflow-hidden relative z-10">
   <span class="absolute  rounded-[30px] flex justify-center items-center  w-[160px]  h-[200px] -top-10 right-[15%] " id="ImgNo1">
    <img src="https://s.pinimg.com/webapp/topRight-6902088a.png" alt="">
   </span>
   <span class="absolute rounded-[30px] flex justify-center items-center  left-[50%]  top-[8%] -translate-x-[50%] w-[300px] h-[450px] z-10 left-5 " id="ImgNo2">
    <img src="https://s.pinimg.com/webapp/center-2d76a691.png" alt="">
   </span>
   <span class="absolute rounded-[30px] flex justify-center items-center  w-[200px] h-[280px]  top-[16%] left-[5%]" id="ImgNo3">
    <img src="https://s.pinimg.com/webapp/left-ccce7532.png" alt="">
   </span>
   <span class="absolute rounded-[30px] flex justify-center items-center  w-[150px] h-[260px]  bottom-[10%] right-[16%]" id="ImgNo4">
    <img src="https://s.pinimg.com/webapp/right-2bd1edfc.png" alt="">
   </span>
   <span style='transform: translate(-65%, -120%); left: 50%;' class="absolute rounded-full flex justify-center items-center gap-2 bg-white w-[316px] h-[100px] top-[50%] z-20 " id="ImgNo5">
  <span><i class="text-black text-[30px] font-bold ri-search-line"></i></span><p class="text-[25px] font-semibold text-[#C31952] ">easy chichen dinner</p>
  </span>
  </div>
  <div class="w-full  md:w-1/2 text-center flex justify-center pt-3   items-center flex-col">
<h1 class="text-6xl mt-2 font-bold text-[#C31952]">Search for an idea</h1>
<p class=" text-center py-4 text-2xl text-[#C31952] font-[400] text-nowrap">
  What do you want to try next? Think <br> of something you're into—like “easy <br> chicken dinner”—and see what you <br> find.
</p>
<div>
  <button onclick="ShowLoginForm()" class="py-3 mb-10 duration-500 hover:scale-[0.92] rounded-full px-4 text-white font-semibold bg-[#E60023]"><a href="#">Explore</a></button>
      </div>
  </div>
</section>
</body>
</html>